* {
    box-sizing: border-box;
}

h1{
    font-size: 30px;
    background: orangered;
    padding: 20px 20px;
    font-weight: 700;
    width: 30%;
    color: beige;
}

body {
    background-image: url("../images/pipes.png");
}

.instructions {
    padding-top: 30px;
    width:40%;
    height: auto;
    background: white;
    color: green;
}

.instructions p:last-child {

    padding-bottom: 30px;
} 

#dispRandom {
    width: 100%;
    height: 100px;
    background: lightgreen;
    color: purple;
    font-size: 3em;
    margin: 10px 5px;
}

#dispResults {
    width: 100%;
    height: 100px;
    background: lightskyblue;
    color: black;
    margin-top: 10px;
}

.dispCryst {
    border: 1px solid white;
    background: rgb(249, 253, 240);
    width: 80px;
    height: 80px;
    margin: 10px 0 10px 0;
    padding: 10px;
    
}

.score {
    background: rgb(2, 201, 201);
    margin-bottom: 10px;
    color: white;
    font-size: 1.5em;
}

#dispTotal {
    height: 100px;
    font-size: 2em;
    padding: 0px 15px 5px 5px;
}

button {
    background: white;
    margin-bottom: 10px;
}